# Unity License Activation Helper
# Run this workflow ONCE to generate the activation file needed for CI/CD
# 
# After running:
# 1. Download the artifact (Unity_*.alf file)
# 2. Go to https://license.unity3d.com/manual
# 3. Upload the .alf file and download the .ulf file
# 4. Copy the ENTIRE contents of the .ulf file
# 5. Go to GitHub repo Settings > Secrets > Actions
# 6. Update UNITY_LICENSE secret with the .ulf file contents

name: Unity License Activation

on:
  workflow_dispatch: # Manual trigger only

jobs:
  request-activation-file:
    name: Request Activation File
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Request manual activation file
        id: getManualLicenseFile
        uses: game-ci/unity-request-activation-file@v2
        with:
          unityVersion: 6000.0.23f1

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity-Activation-File
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
          retention-days: 1
